@import 'tailwindcss';


@variant dark (&:where(.dark, .dark *));

:root {
    font-family:
        'Pretendard Variable',
        Pretendard,
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        Roboto,
        sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    margin: 0;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}
